.box4{
    background-color: navy;
    width: 25%;
    border: 1px solid black
    
}

.box1{
    background-color: red;
    width: 100%;
    
}

.box2{
    background-color: brown;
    width: 75%;
}

.box3{
    background-color: purple;
    width: 50%;
}

div{
    background-color: black;
}

h1{
    color: black;
}

#last{
    color: blue;
}